header {
  display: flex;
  align-items: center;
  height: 60px;
}

.ontop {
    z-index: 10;
}

header .w3-dropdown-hover {
  margin-right: 0.2em;
}


main {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

main > div {
  max-width: 960px;
}

footer {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.w3-panel,
p,
h2,
h3,
h4,
h5,
code {
  margin-left: 20px;
  margin-right: 20px;
}

code {
    border: 1px solid gray;
    padding: 5px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 2px solid #000000;
  padding: 5px;
}

td {
  border: 1px solid #000000;
  padding: 5px;
}

img.code {
  float: right;
  margin-top: 20px;
    margin-right: 10px;

      margin-left: 10px;
      margin-bottom: 10px;
}

img.pagefigure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
}

pre {
  margin-left: 60px;
  margin-right: 60px;
  border: 1px solid #000000;
  padding: 10px;
}

ol {
  margin-left: 20px;
}

blockquote {
  border: 1px solid gray;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ededed;
  padding: 5px;
  font-style: oblique;
}



iframe {
  margin-right: 60px;
  margin-left: 60px;
}

div.kotlincode {
  display: flex;
  flex-grow: 2;
}

div.pubs {
  background-color: #eeeee4;
}

.ui-dialog .ui-dialog-titlebar {
border:1px;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 10px;
}

.ui-widget-header {
 background: lightgray;
 border: 1px solid black;
 font-weight: bold;
 padding: 10px;
}

.ui-widget-content {
    border: 2px solid #DDD;
}

hr {
  border: 1px dotted gray;
  //width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  float: right;
  width: 50%;
}

.overlayImageBase {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: 10px;
}

.overlayImage {
  position: absolute;
  display: none;
  top: 20px;
  right: 10px;
}

.hidden {
  visibility: hidden;
}

.split {
  width: 50%;
  position: relative;
  z-index: 1;
  top: 0px;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  margin-right: 10px;
}

.right {
  right: 0;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
