header {
  display: flex;
  align-items: center;
  height: 60px;
}

.ontop {
    z-index: 10;
}

header .w3-dropdown-hover {
  margin-right: 0.2em;
}

main {
  display: flex;
  justify-content: center;
}

main > div {
  max-width: 960px;
}

footer {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.w3-panel,
p,
h2,
h3 {
  margin-left: 20px;
  margin-right: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 2px solid #000000;
  padding: 5px;
}

td {
  border: 1px solid #000000;
  padding: 5px;
}

img.code {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
