<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ site.url }}/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>


<body>
  <header class="w3-container w3-black w3-top ontop">
    <div class="w3-dropdown-hover">
      <a href="/kotlin/index">
        <i class="fa fa-bars w3-xxlarge w3-button w3-black"></i>
      </a>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        {% for c in site.data.capitulos.caps %}
        <a href="/kotlin/{{c.url}}" class="w3-bar-item w3-button">{{c.cap}}</a>
        {% endfor %}
      </div>
    </div>

    <div>
      <h1>{{ page.title }}
        {% if page.exer == true %}
        (Exercício)
        {% endif %}
      </h1>
    </div>

    <div class="w3-display-right">
      {% include nav url = page.url %}
    </div>

    </div>

    <div id="feedbackIcon" style="position:fixed;top:10px;left:-7px">
      <i class="fa 	fa fa-edit w3-xlarge w3-button w3-white" id="question" style="visibility:hidden"></i>
    </div>
  </header>


  <main>
    <div class="w3-container w3-padding-64">
      {% if page.image != null %}
      <img src="{{ page.image }}" class="pagefigure" />
      {% endif %}
      {{ content }}
      <br>
    </div>
  </main>

  <footer class="w3-container w3-black w3-bottom ontop">
    &copy;&nbsp;<a href="/">André L. Santos</a>,&nbsp;<a href="{{site.url}}/kotlin">{{site.data.capitulos.titulo}}</a>
    <a href="http://www.iscte-iul.pt" target="_blank"><img src="/iscte.png" height="40px" class="w3-display-right" /></a>
  </footer>
  <script src="https://unpkg.com/kotlin-playground@1" data-selector="kotlin"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    document.addEventListener('selectionchange', (e) => {
      var sel = document.getSelection().toString();
      document.getElementById('feedbackIcon').style.top="50%";
      if (sel.length > 0 && sel.trim() !== "" && !dialog) {
        document.getElementById('question').style.visibility = 'visible'
        var parent = document.getSelection().anchorNode
        if (parent instanceof Text) {
          var plain = parent.parentNode.innerHTML;
          var t = "<i>..." + plain.substring(0, document.getSelection().anchorOffset) +
          "<mark>" + document.getSelection().toString() + "</mark>" +
          plain.substring(document.getSelection().focusOffset) + "...</i>";
          document.getElementById('questionForm').innerHTML = t
        }
      } else
        document.getElementById('question').style.visibility = 'hidden'
    });


    function getOffset(el) {
      const rect = el.getBoundingClientRect();
      return {
        left: rect.left + window.scrollX,
        top: rect.top + window.scrollY
      };
    }

    function checkboxClick(e, file) {
      if (e.checked)
        document.getElementById(file).style = 'display:inline';
      else {
        document.getElementById(file).style = 'display:none';
      }
    }

    function hide(files) {
      var split = files.split(",")
      split.forEach((e) => {
        document.getElementById(e).style = 'display:none';
      });
    }


    function copy(id) {
      /* Get the text field */
      var copyText = document.getElementById(id);

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }

    var dialog = false;

    $(function() {
      $("#dialog").dialog({
        autoOpen: false,
        modal: true,
        title: "Dúvida / Comentário?",
        width: 500,
        height: 500,
        open: function() {
          $("#msg").val("")
          dialog = true;
        },
        buttons: {
          "Cancelar": function() {
            $(this).dialog("close");
            dialog = false;
          },
          "Enviar": function() {
            $("#page").val(window.location.pathname);
            $("#snippet").val($("#questionForm").innerHTML);
            $("#sendFeedback").submit();
            $(this).dialog("close");
            dialog = false;
          }
        }
      });

      $("#question").on("click", function() {
        $("#dialog").dialog("open");
      });
    });



  </script>
  <div id="dialog" title="">
    <p id="questionForm" />
    <form border="0" id="sendFeedback" target="_blank" method="post"
    action="https://script.google.com/macros/s/AKfycbxakHKhUtPSw7E5vU0CVQCgQkYMLS5ebNMpAaQnvKAMGA9oMg0WLtZyk_cZXQliDpXDwQ/exec">
      <fieldset>
        <input type="hidden" id="page" name="page">
        <input type="hidden" id="snippet" name="snippet">
        <input type="radio" id="duvida" name="kind" value="duvida" checked>
        <label for="duvida">Dúvida</label><br>
        <input type="radio" id="gralha" name="kind" value="gralha">
        <label for="gralha">Gralha</label><br>
        <input type="radio" id="outra" name="kind" value="outra">
        <label for="outra">Outra</label><br><br>
        <label for="msg">Descrição</label>
        <textarea name="msg" id="msg" rows="4" cols="50" class="text ui-widget-content ui-corner-all"></textarea>
        <br>
        <label for="reply">Email</label>
        <input type="reply" id="reply" name="reply" class="text ui-widget-content ui-corner-all">
        <label for="reply">(opcional, para resposta)</label>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>
</body>

</html>
