<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="domain specific languages, program comprehension, programming education, code editors, software variability">
    <title>{{ page.title }} - André L. Santos</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
     <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/style.css">
    <script>
    $( function() {
     $( ".pubs" ).dialog({
       autoOpen: false,
       modal: true,
       width: 600,
       closeText: "x",
       show: {
         effect: "blind",
         duration: 1000
       },
       hide: {
         effect: "none",
         duration: 1000
       }
     });

     $( ".opener" ).on( "click", function() {
       $( "#D" + $(this).attr("id") ).dialog( "open" );
     });
   } );
    </script>
  </head>


  <body>


<header class="w3-container w3-black w3-top">

  <h2>{{ page.title }}</h2>
  <div class="w3-display-topright"</div>
</div>

</header>
<main>
    <div class="w3-panel w3-padding-64">
        {{ content }}
    </div>
  </main>

    <footer class="w3-container w3-black w3-bottom">
      &copy;&nbsp;<a href="/">André L. Santos</a><a href="http://www.iscte-iul.pt" target="_blank"><img src="/iscte.png" height="40px" class="w3-display-right"/></a>
    </footer>
  </body>
</html>
